@using MerchandiseShop.Domain.Models
@using MerchandiseShop.Domain.Order
@model MerchandiseShop.Application.Orders.Queries.GetOrderList.OrderListVm

@{
    ViewData["Title"] = "Index";
}


<h1>Заказы</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                Пользователь
            </th>
            <th>
                Статус
            </th>
            <th>
                Дата создания
            </th>
            <th>
                Дата выполнения
            </th>
            <th>
                Кол-во позиций
            </th>
            <th>
                Сумма
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Orders)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.User.Email)
                </td>
                <td>
                    @{
                        var status = Enumeration.GetAll<OrderStatus>().FirstOrDefault(s => s.Id == item.StatusId).Name;
                    }
                    @Html.DisplayFor(modelItem => status)
                </td>
                <td>
                    @{
                        var dateCreation = item.DateCreation.ToShortDateString();
                    }
                    @Html.DisplayFor(modelItem => dateCreation)
                </td>
                <td>
                    @{
                        var dateCompletion = "";
                        if(item.DateCompletion != null){
                            dateCompletion = ((DateTime)item.DateCompletion).ToShortDateString();
                        }
                    }
                    @Html.DisplayFor(modelItem => dateCompletion)
                </td>
                <td>
                    @{
                        var quantity = 0;
                        foreach(var orderItem in item.OrderItems)
                        {
                            quantity += orderItem.Quantity;
                        }
                    }
                    @Html.DisplayFor(modelItem => quantity)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OrderSum)
                </td>
                <td>
                    <a asp-action="Details" asp-route-orderId="@item.Id">Просмотр</a>
                </td>
            </tr>
        }
    </tbody>
</table>