@using MerchandiseShop.Domain.Models
@using MerchandiseShop.Domain.Users
@model MerchandiseShop.Application.EventParticipants.Queries.GetEventParticipantList.EventParticipantListVm

@{
    ViewData["Title"] = "Index";
}


<h1>Участвующие в мероприятии</h1>

<p>
    <a asp-action="Create" asp-route-eventId="@Model.EventId">Добавить</a>
</p>
<div>
    <a asp-action="Index" asp-controller="Events">Назад</a>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                Имя Фамилия
            </th>
            <th>
                Класс
            </th>
            <th>
                Роль
            </th>
            <th>
                Тип пользователя
            </th>
            <th>
                Посещение
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.EventParticipants)
        {
            var userType = Enumeration.GetAll<UserType>().FirstOrDefault(u => u.Id == item.User.UserTypeId);
            if (userType != null)
            {
                <tr>
                    <td>
                        @{
                            var userName = item.User.FirstName + " " + item.User.LastName;
                        }
                        @Html.DisplayFor(modelItem => userName)
                    </td>
                    <td>
                        @{
                            var userClass = item.User.ClassNumber + item.User.ClassLetter;
                        }
                        @Html.DisplayFor(modelItem => userClass) 
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EventRole.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => userType.Name)
                    </td>
                    <td>
                        @{
                            var isVisit = "";
                            if (item.IsVisit)
                            {
                                isVisit = "Да";
                            }
                            else
                            {
                                isVisit = "Нет";
                            }
                        }
                        @Html.DisplayFor(modelItem => isVisit) 
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Изменить</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Удалить</a>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>