@model MerchandiseShop.WebApp.Models.EventResponsibleDto
@{
    ViewData["Title"] = "Delete";
}

<h3>Действительно удалить?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UserId)
        </dt>
        <dd class="col-sm-10">
            @{
                var userName = Model.User.FirstName + " " + Model.User.LastName;
            }
            @Html.DisplayFor(model => userName)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Удалить" class="btn btn-danger" asp-route-eventId="@Model.EventId"/> |
        <a asp-action="Index" asp-route-eventId="@Model.EventId">Назад</a>
    </form>
</div>